input[type=text],input[type=password]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit],input[type=reset]{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
}

body{
    background-image: url("https://thumbs.dreamstime.com/b/blue-gradient-background-d-fluid-lines-banner-blue-gradient-background-d-fluid-lines-banner-color-creative-wallpaper-light-177380098.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 750px;
    text-align: center;
    max-width: max-content;
    margin: auto; 
       
}

table, tr, td {
    border: 2px solid rgb(0, 0, 0);
    color: black;
    width: 350px;
    table-layout: fixed;
    height: 80px;
    font-size: 30px;
    text-align: center;
}


